@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');


#main {
    display: block;
    width: 70%;
    max-width: 800px;
    margin: auto; 
    margin-top: 50px;
}

h1{
    text-align: center;
    font-family: 'Syne Mono', monospace;
    font-size: 36px;
}

#main div{
    width: 70%;
    margin: auto;
}

#main div:nth-child(3){
    width: 100px;
    margin: auto;
}

#input-txt{
    width: 100%;
    height: 120px;
    padding: 4%;
    border: solid #0A75BC 1.5px;
    border-radius: 12px;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    transition: background-colour 2s;

}

#btn-translate{
    width: 150px;
    height: 40px;
    margin: 20px 0%;
    border: solid #231F20 1.5px ;
    border-radius: 12px;
    font-family: 'Syne Mono', monospace;
    font-size: 20px;
    background-color: #0A75BC;
    color: #FCE029;
    transition: background-colour 2s;
}

#output-txt{
    width: 100%;
    height: 120px;
    padding: 4%;
     border: solid #0A75BC 1.5px;
    border-radius: 12px;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
   transition: background-colour 2s;
    
}

